SIRH.Web/Service References/PerfilUsuarioLocal/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SIRH.DTO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GuardarBitacora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="bitacora" nillable="true" type="q1:CBitacoraUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarBitacoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="GuardarBitacoraResult" nillable="true" type="q2:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBitacora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="bitacora" nillable="true" type="q3:CBitacoraUsuarioDTO" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fechas" nillable="true" type="q4:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBitacoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ListarBitacoraResult" nillable="true" type="q5:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedulaFunc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="DescargarUsuarioResult" nillable="true" type="q6:ArrayOfArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ObtenerUsuarioPorNombreResult" nillable="true" type="q7:ArrayOfArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarPerfilUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarPerfilUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="RetornarPerfilUsuarioResult" nillable="true" type="q8:ArrayOfArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPerfilUsuarioEspecifico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="catPermiso" type="xs:int" />
        <xs:element minOccurs="0" name="perfil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPerfilUsuarioEspecificoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="CargarPerfilUsuarioEspecificoResult" nillable="true" type="q9:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPerfilUsuarioCompleto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="catPermiso" type="xs:int" />
        <xs:element minOccurs="0" name="perfil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPerfilUsuarioCompletoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="CargarPerfilUsuarioCompletoResult" nillable="true" type="q10:ArrayOfArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="RegistrarUsuarioResult" nillable="true" type="q11:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarAccesosUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="permisos" nillable="true" type="q12:ArrayOfCCatPermisoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarAccesosUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="AsignarAccesosUsuarioResult" nillable="true" type="q13:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarPerfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarPerfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="DescargarPerfilesResult" nillable="true" type="q14:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="perfil" nillable="true" type="q15:CPerfilDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="AgregarPerfilResult" nillable="true" type="q16:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarPermisosPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="perfil" nillable="true" type="q17:CPerfilDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarPermisosPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="DescargarPermisosPerfilResult" nillable="true" type="q18:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="permiso" nillable="true" type="q19:CCatPermisoDTO" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="perfil" nillable="true" type="q20:CPerfilDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="AgregarPermisoResult" nillable="true" type="q21:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarUsuariosPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
        <xs:element minOccurs="0" name="catPermiso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarUsuariosPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="CargarUsuariosPerfilResult" nillable="true" type="q22:ArrayOfArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeshabilitarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeshabilitarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="DeshabilitarUsuarioResult" nillable="true" type="q23:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ListarPermisosResult" nillable="true" type="q24:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="notificacion" nillable="true" type="q25:CNotificacionUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="EnviarNotificacionResult" nillable="true" type="q26:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNotificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNotificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ObtenerNotificacionResult" nillable="true" type="q27:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotificaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="funcionario" nillable="true" type="q28:CFuncionarioDTO" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="notificacion" nillable="true" type="q29:CNotificacionUsuarioDTO" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fechasEnvio" nillable="true" type="q30:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotificacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="BuscarNotificacionesResult" nillable="true" type="q31:ArrayOfArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNotificacionCedula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modulo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNotificacionCedulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ObtenerNotificacionCedulaResult" nillable="true" type="q32:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>