SIRH.Web/Service References/AntecedentesPenalesService/Certificar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Certificar" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICertificar_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://pjenlinea2.poder-judicial.go.cr/SACEJCertificacionesWCF/Certificar.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://pjenlinea2.poder-judicial.go.cr/SACEJCertificacionesWCF/Certificar.svc?xsd=xsd1" namespace="http://Pj.SACEJ.Publico/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICertificar_ConsultarAntecedentesPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAntecedentesPersona" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ConsultarAntecedentesPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAntecedentesPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ConsultarAntecedentesDatosPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAntecedentesDatosPersona" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ConsultarAntecedentesDatosPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAntecedentesDatosPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ObtenerDetalleCertificacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleCertificacion" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ObtenerDetalleCertificacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleCertificacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ObtenerCertificacionPdf_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCertificacionPdf" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ObtenerCertificacionPdf_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCertificacionPdfResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ObtengoSolicitudRechazada_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtengoSolicitudRechazada" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ObtengoSolicitudRechazada_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtengoSolicitudRechazadaResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ModificarSolicitudAntecedentesPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitudAntecedentesPersona" />
  </wsdl:message>
  <wsdl:message name="ICertificar_ModificarSolicitudAntecedentesPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitudAntecedentesPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICertificar">
    <wsdl:operation name="ConsultarAntecedentesPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/ConsultarAntecedentesPersona" message="tns:ICertificar_ConsultarAntecedentesPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/ConsultarAntecedentesPersonaResponse" message="tns:ICertificar_ConsultarAntecedentesPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAntecedentesDatosPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/ConsultarAntecedentesDatosPersona" message="tns:ICertificar_ConsultarAntecedentesDatosPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/ConsultarAntecedentesDatosPersonaResponse" message="tns:ICertificar_ConsultarAntecedentesDatosPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCertificacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/ObtenerDetalleCertificacion" message="tns:ICertificar_ObtenerDetalleCertificacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/ObtenerDetalleCertificacionResponse" message="tns:ICertificar_ObtenerDetalleCertificacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificacionPdf">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/ObtenerCertificacionPdf" message="tns:ICertificar_ObtenerCertificacionPdf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/ObtenerCertificacionPdfResponse" message="tns:ICertificar_ObtenerCertificacionPdf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtengoSolicitudRechazada">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/ObtengoSolicitudRechazada" message="tns:ICertificar_ObtengoSolicitudRechazada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/ObtengoSolicitudRechazadaResponse" message="tns:ICertificar_ObtengoSolicitudRechazada_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitudAntecedentesPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificar/ModificarSolicitudAntecedentesPersona" message="tns:ICertificar_ModificarSolicitudAntecedentesPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificar/ModificarSolicitudAntecedentesPersonaResponse" message="tns:ICertificar_ModificarSolicitudAntecedentesPersona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICertificar" type="tns:ICertificar">
    <wsp:PolicyReference URI="#WSHttpBinding_ICertificar_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarAntecedentesPersona">
      <soap12:operation soapAction="http://tempuri.org/ICertificar/ConsultarAntecedentesPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAntecedentesDatosPersona">
      <soap12:operation soapAction="http://tempuri.org/ICertificar/ConsultarAntecedentesDatosPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCertificacion">
      <soap12:operation soapAction="http://tempuri.org/ICertificar/ObtenerDetalleCertificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCertificacionPdf">
      <soap12:operation soapAction="http://tempuri.org/ICertificar/ObtenerCertificacionPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtengoSolicitudRechazada">
      <soap12:operation soapAction="http://tempuri.org/ICertificar/ObtengoSolicitudRechazada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitudAntecedentesPersona">
      <soap12:operation soapAction="http://tempuri.org/ICertificar/ModificarSolicitudAntecedentesPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Certificar">
    <wsdl:port name="WSHttpBinding_ICertificar" binding="tns:WSHttpBinding_ICertificar">
      <soap12:address location="https://pjenlinea2.poder-judicial.go.cr/SACEJCertificacionesWCF/Certificar.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://pjenlinea2.poder-judicial.go.cr/SACEJCertificacionesWCF/Certificar.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>