SIRH.Web/Service References/RegistroIncapacidadLocal/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SIRH.DTO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GuardarRegistroIncapacidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="funcionario" nillable="true" type="q1:CFuncionarioDTO" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="tipo" nillable="true" type="q2:CTipoIncapacidadDTO" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="registro" nillable="true" type="q3:CRegistroIncapacidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarRegistroIncapacidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="GuardarRegistroIncapacidadResult" nillable="true" type="q4:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarRegistroIncapacidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="registro" nillable="true" type="q5:CRegistroIncapacidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarRegistroIncapacidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="EditarRegistroIncapacidadResult" nillable="true" type="q6:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarRegistroIncapacidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="registro" nillable="true" type="q7:CRegistroIncapacidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarRegistroIncapacidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="AprobarRegistroIncapacidadResult" nillable="true" type="q8:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularRegistroIncapacidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="registro" nillable="true" type="q9:CRegistroIncapacidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularRegistroIncapacidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="AnularRegistroIncapacidadResult" nillable="true" type="q10:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistroIncapacidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistroIncapacidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ObtenerRegistroIncapacidadResult" nillable="true" type="q11:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistroIncapacidadCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numIncapacidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistroIncapacidadCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ObtenerRegistroIncapacidadCodigoResult" nillable="true" type="q12:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistroIncapacidadProrroga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numCedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEntidad" type="xs:int" />
        <xs:element minOccurs="0" name="idTipo" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegistroIncapacidadProrrogaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ObtenerRegistroIncapacidadProrrogaResult" nillable="true" type="q13:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRegistroIncapacidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="funcionario" nillable="true" type="q14:CFuncionarioDTO" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="registro" nillable="true" type="q15:CRegistroIncapacidadDTO" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="entidadMedica" nillable="true" type="q16:CEntidadMedicaDTO" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fechasRige" nillable="true" type="q17:ArrayOfdateTime" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fechasVence" nillable="true" type="q18:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRegistroIncapacidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="BuscarRegistroIncapacidadesResult" nillable="true" type="q19:ArrayOfArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoIncapacidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoIncapacidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ListarTipoIncapacidadResult" nillable="true" type="q20:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoIncapacidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoIncapacidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ObtenerTipoIncapacidadResult" nillable="true" type="q21:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEntidadMedica">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEntidadMedicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ListarEntidadMedicaResult" nillable="true" type="q22:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuncionariosConIncapacidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FuncionariosConIncapacidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="FuncionariosConIncapacidadesResult" nillable="true" type="q23:ArrayOfArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSalarioBruto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSalarioBrutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="ObtenerSalarioBrutoResult" nillable="true" type="q24:CBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>