SIRH.Web/Service References/ManualCargosLocal/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CManualCargosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SIRH.DTO" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICManualCargosService_RegistrarCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCargo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_RegistrarCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCargoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCargo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCargoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_RegistrarResultadosCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarResultadosCargo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_RegistrarResultadosCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarResultadosCargoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ResgistrarFactorCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:ResgistrarFactorCargo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ResgistrarFactorCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResgistrarFactorCargoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_RegistrarRequerimientosEspecificos_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarRequerimientosEspecificos" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_RegistrarRequerimientosEspecificos_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarRequerimientosEspecificosResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_RegistrarCompetenciasTransversales_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCompetenciasTransversales" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_RegistrarCompetenciasTransversales_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCompetenciasTransversalesResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_RegistrarCompetenciasGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCompetenciasGrupo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_RegistrarCompetenciasGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCompetenciasGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerResultadoCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResultadoCargo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerResultadoCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResultadoCargoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarResultado_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResultado" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarResultado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResultadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarActividad" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerFactoresCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFactoresCargo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerFactoresCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFactoresCargoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerRequerimientosEspecificos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRequerimientosEspecificos" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerRequerimientosEspecificos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRequerimientosEspecificosResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ActualizarRequerimientoEspecifico_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRequerimientoEspecifico" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ActualizarRequerimientoEspecifico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRequerimientoEspecificoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerCompetenciaTransversal_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompetenciaTransversal" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerCompetenciaTransversal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompetenciaTransversalResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarCompetenciasTransversales_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCompetenciasTransversales" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarCompetenciasTransversales_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCompetenciasTransversalesResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerCompetenciaGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompetenciaGrupo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_ObtenerCompetenciaGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompetenciaGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarCompetenciaGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCompetenciaGrupo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarCompetenciaGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCompetenciaGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarComportamientoGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarComportamientoGrupo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarComportamientoGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarComportamientoGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarEvidenciaGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEvidenciaGrupo" />
  </wsdl:message>
  <wsdl:message name="ICManualCargosService_EliminarEvidenciaGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEvidenciaGrupoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICManualCargosService">
    <wsdl:operation name="RegistrarCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarCargo" message="tns:ICManualCargosService_RegistrarCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarCargoResponse" message="tns:ICManualCargosService_RegistrarCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerCargo" message="tns:ICManualCargosService_ObtenerCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerCargoResponse" message="tns:ICManualCargosService_ObtenerCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarResultadosCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarResultadosCargo" message="tns:ICManualCargosService_RegistrarResultadosCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarResultadosCargoResponse" message="tns:ICManualCargosService_RegistrarResultadosCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResgistrarFactorCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/ResgistrarFactorCargo" message="tns:ICManualCargosService_ResgistrarFactorCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/ResgistrarFactorCargoResponse" message="tns:ICManualCargosService_ResgistrarFactorCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarRequerimientosEspecificos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarRequerimientosEspecificos" message="tns:ICManualCargosService_RegistrarRequerimientosEspecificos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarRequerimientosEspecificosResponse" message="tns:ICManualCargosService_RegistrarRequerimientosEspecificos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarCompetenciasTransversales">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarCompetenciasTransversales" message="tns:ICManualCargosService_RegistrarCompetenciasTransversales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarCompetenciasTransversalesResponse" message="tns:ICManualCargosService_RegistrarCompetenciasTransversales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarCompetenciasGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarCompetenciasGrupo" message="tns:ICManualCargosService_RegistrarCompetenciasGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/RegistrarCompetenciasGrupoResponse" message="tns:ICManualCargosService_RegistrarCompetenciasGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerResultadoCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerResultadoCargo" message="tns:ICManualCargosService_ObtenerResultadoCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerResultadoCargoResponse" message="tns:ICManualCargosService_ObtenerResultadoCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarResultado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarResultado" message="tns:ICManualCargosService_EliminarResultado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarResultadoResponse" message="tns:ICManualCargosService_EliminarResultado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarActividad" message="tns:ICManualCargosService_EliminarActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarActividadResponse" message="tns:ICManualCargosService_EliminarActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFactoresCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerFactoresCargo" message="tns:ICManualCargosService_ObtenerFactoresCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerFactoresCargoResponse" message="tns:ICManualCargosService_ObtenerFactoresCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRequerimientosEspecificos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerRequerimientosEspecificos" message="tns:ICManualCargosService_ObtenerRequerimientosEspecificos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerRequerimientosEspecificosResponse" message="tns:ICManualCargosService_ObtenerRequerimientosEspecificos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRequerimientoEspecifico">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/ActualizarRequerimientoEspecifico" message="tns:ICManualCargosService_ActualizarRequerimientoEspecifico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/ActualizarRequerimientoEspecificoResponse" message="tns:ICManualCargosService_ActualizarRequerimientoEspecifico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompetenciaTransversal">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerCompetenciaTransversal" message="tns:ICManualCargosService_ObtenerCompetenciaTransversal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerCompetenciaTransversalResponse" message="tns:ICManualCargosService_ObtenerCompetenciaTransversal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCompetenciasTransversales">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarCompetenciasTransversales" message="tns:ICManualCargosService_EliminarCompetenciasTransversales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarCompetenciasTransversalesResponse" message="tns:ICManualCargosService_EliminarCompetenciasTransversales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompetenciaGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerCompetenciaGrupo" message="tns:ICManualCargosService_ObtenerCompetenciaGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/ObtenerCompetenciaGrupoResponse" message="tns:ICManualCargosService_ObtenerCompetenciaGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCompetenciaGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarCompetenciaGrupo" message="tns:ICManualCargosService_EliminarCompetenciaGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarCompetenciaGrupoResponse" message="tns:ICManualCargosService_EliminarCompetenciaGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarComportamientoGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarComportamientoGrupo" message="tns:ICManualCargosService_EliminarComportamientoGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarComportamientoGrupoResponse" message="tns:ICManualCargosService_EliminarComportamientoGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEvidenciaGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarEvidenciaGrupo" message="tns:ICManualCargosService_EliminarEvidenciaGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICManualCargosService/EliminarEvidenciaGrupoResponse" message="tns:ICManualCargosService_EliminarEvidenciaGrupo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICManualCargosService" type="tns:ICManualCargosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarCargo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/RegistrarCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCargo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/ObtenerCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarResultadosCargo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/RegistrarResultadosCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResgistrarFactorCargo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/ResgistrarFactorCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarRequerimientosEspecificos">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/RegistrarRequerimientosEspecificos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarCompetenciasTransversales">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/RegistrarCompetenciasTransversales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarCompetenciasGrupo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/RegistrarCompetenciasGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerResultadoCargo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/ObtenerResultadoCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarResultado">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/EliminarResultado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarActividad">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/EliminarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFactoresCargo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/ObtenerFactoresCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRequerimientosEspecificos">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/ObtenerRequerimientosEspecificos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRequerimientoEspecifico">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/ActualizarRequerimientoEspecifico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompetenciaTransversal">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/ObtenerCompetenciaTransversal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCompetenciasTransversales">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/EliminarCompetenciasTransversales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompetenciaGrupo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/ObtenerCompetenciaGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCompetenciaGrupo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/EliminarCompetenciaGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarComportamientoGrupo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/EliminarComportamientoGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEvidenciaGrupo">
      <soap:operation soapAction="http://tempuri.org/ICManualCargosService/EliminarEvidenciaGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CManualCargosService">
    <wsdl:port name="BasicHttpBinding_ICManualCargosService" binding="tns:BasicHttpBinding_ICManualCargosService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CManualCargosService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>