SIRH.Web/Service References/MarcacionesLocal/SIRH.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SIRH.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIRH.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CFuncionarioDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoFuncionario" nillable="true" type="tns:CEstadoFuncionarioDTO" />
          <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sexo" type="tns:GeneroEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CFuncionarioDTO" nillable="true" type="tns:CFuncionarioDTO" />
  <xs:complexType name="CBaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEntidad" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="CBaseDTO" nillable="true" type="tns:CBaseDTO" />
  <xs:complexType name="CEstadoPedimentoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DetalleEstado" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEstadoPedimentoDTO" nillable="true" type="tns:CEstadoPedimentoDTO" />
  <xs:complexType name="CDetalleCambioPedimentoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DetalleCAmbio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaResolucionCambio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroResolucionCambio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoResolucion" nillable="true" type="tns:CTipoResolucionPedimentoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDetalleCambioPedimentoDTO" nillable="true" type="tns:CDetalleCambioPedimentoDTO" />
  <xs:complexType name="CTipoResolucionPedimentoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DetalleResolucion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoResolucionPedimentoDTO" nillable="true" type="tns:CTipoResolucionPedimentoDTO" />
  <xs:complexType name="CResolucionPedimentoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DetalleResolucion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaResolucion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroResolucion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoResolucion" nillable="true" type="tns:CTipoResolucionPedimentoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CResolucionPedimentoDTO" nillable="true" type="tns:CResolucionPedimentoDTO" />
  <xs:complexType name="CUsuarioDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailOficial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndEstUsuario" type="xs:int" />
          <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TelefonoOficial" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CUsuarioDTO" nillable="true" type="tns:CUsuarioDTO" />
  <xs:complexType name="CActividadDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesActividad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CActividadDTO" nillable="true" type="tns:CActividadDTO" />
  <xs:complexType name="CEstadoFuncionarioDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesEstadoFuncionario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEstadoFuncionarioDTO" nillable="true" type="tns:CEstadoFuncionarioDTO" />
  <xs:complexType name="CDetalleAccesoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FecCreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Funcionario" nillable="true" type="tns:CFuncionarioDTO" />
          <xs:element minOccurs="0" name="IndEstDetalleAcceso" type="xs:int" />
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:CUsuarioDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDetalleAccesoDTO" nillable="true" type="tns:CDetalleAccesoDTO" />
  <xs:complexType name="CAreaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesArea" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CAreaDTO" nillable="true" type="tns:CAreaDTO" />
  <xs:complexType name="CCalificacionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesCalificacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCalificacionDTO" nillable="true" type="tns:CCalificacionDTO" />
  <xs:complexType name="CCalificacionNombramientoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Calificacion" nillable="true" type="tns:CCalificacionDTO" />
          <xs:element minOccurs="0" name="IndPeriodo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombramiento" nillable="true" type="tns:CNombramientoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCalificacionNombramientoDTO" nillable="true" type="tns:CCalificacionNombramientoDTO" />
  <xs:complexType name="CNombramientoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="EstadoNombramiento" nillable="true" type="tns:CEstadoNombramientoDTO" />
          <xs:element minOccurs="0" name="FecNombramiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FecRige" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FecVence" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Funcionario" nillable="true" type="tns:CFuncionarioDTO" />
          <xs:element minOccurs="0" name="Puesto" nillable="true" type="tns:CPuestoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CNombramientoDTO" nillable="true" type="tns:CNombramientoDTO" />
  <xs:complexType name="CEstadoNombramientoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesEstado" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEstadoNombramientoDTO" nillable="true" type="tns:CEstadoNombramientoDTO" />
  <xs:complexType name="CCantonDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodPostalCanton" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomCanton" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Provincia" nillable="true" type="tns:CProvinciaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCantonDTO" nillable="true" type="tns:CCantonDTO" />
  <xs:complexType name="CProvinciaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="NomProvincia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CProvinciaDTO" nillable="true" type="tns:CProvinciaDTO" />
  <xs:complexType name="CCatEstadoCivilDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesEstadoCivil" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCatEstadoCivilDTO" nillable="true" type="tns:CCatEstadoCivilDTO" />
  <xs:complexType name="CCatPermisoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesPermiso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndEstCatPermiso" type="xs:int" />
          <xs:element minOccurs="0" name="NomPermiso" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCatPermisoDTO" nillable="true" type="tns:CCatPermisoDTO" />
  <xs:complexType name="CClaseDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesClase" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndEstClase" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CClaseDTO" nillable="true" type="tns:CClaseDTO" />
  <xs:complexType name="CCuentaBancariaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CtaCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DetalleContratacion" nillable="true" type="tns:CDetalleContratacionDTO" />
          <xs:element minOccurs="0" name="EntidadFinanciera" nillable="true" type="tns:CEntidadFinancieraDTO" />
          <xs:element minOccurs="0" name="IndEstCuentaBancaria" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCuentaBancariaDTO" nillable="true" type="tns:CCuentaBancariaDTO" />
  <xs:complexType name="CDetalleContratacionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoPolicial" type="xs:int" />
          <xs:element minOccurs="0" name="EstadoMarcacion" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="FechaCese" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaMesAumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Funcionario" nillable="true" type="tns:CFuncionarioDTO" />
          <xs:element minOccurs="0" name="NumeroAnniosServicioPublico" type="xs:int" />
          <xs:element minOccurs="0" name="NumeroAnualidades" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDetalleContratacionDTO" nillable="true" type="tns:CDetalleContratacionDTO" />
  <xs:complexType name="CDepartamentoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="IndEstDepartamento" type="xs:int" />
          <xs:element minOccurs="0" name="NomDepartamento" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDepartamentoDTO" nillable="true" type="tns:CDepartamentoDTO" />
  <xs:complexType name="CDesgloseSalarialDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="MontoSalarioBruto" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoSalarioNeto" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="Nombramiento" nillable="true" type="tns:CNombramientoDTO" />
          <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDesgloseSalarialDTO" nillable="true" type="tns:CDesgloseSalarialDTO" />
  <xs:complexType name="CDetallePuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Categoria" type="xs:int" />
          <xs:element minOccurs="0" name="Clase" nillable="true" type="tns:CClaseDTO" />
          <xs:element minOccurs="0" name="Especialidad" nillable="true" type="tns:CEspecialidadDTO" />
          <xs:element minOccurs="0" name="MtoAumento" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtoSalarioBase" type="xs:decimal" />
          <xs:element minOccurs="0" name="OcupacionReal" nillable="true" type="tns:COcupacionRealDTO" />
          <xs:element minOccurs="0" name="Puesto" nillable="true" type="tns:CPuestoDTO" />
          <xs:element minOccurs="0" name="SubEspecialidad" nillable="true" type="tns:CSubEspecialidadDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDetallePuestoDTO" nillable="true" type="tns:CDetallePuestoDTO" />
  <xs:complexType name="CEspecialidadDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesEspecialidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndEstEspecialidad" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEspecialidadDTO" nillable="true" type="tns:CEspecialidadDTO" />
  <xs:complexType name="CDetalleTiempoExtraDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaFinal" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HoraFinal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HoraInicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MinutoFinal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MinutoInicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegistroTiempoExtra" nillable="true" type="tns:CRegistroTiempoExtraDTO" />
          <xs:element minOccurs="0" name="TipoExtra" nillable="true" type="tns:CTipoExtraDTO" />
          <xs:element minOccurs="0" name="TotalLinea" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDetalleTiempoExtraDTO" nillable="true" type="tns:CDetalleTiempoExtraDTO" />
  <xs:complexType name="CRegistroTiempoExtraDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesgloceSalarial" nillable="true" type="tns:CDesgloseSalarialDTO" />
          <xs:element minOccurs="0" name="FecPago" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaEmision" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MontoHora" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRegistroTiempoExtraDTO" nillable="true" type="tns:CRegistroTiempoExtraDTO" />
  <xs:complexType name="CDireccionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DirExacta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Distrito" nillable="true" type="tns:CDistritoDTO" />
          <xs:element minOccurs="0" name="Funcionario" nillable="true" type="tns:CFuncionarioDTO" />
          <xs:element minOccurs="0" name="IndEstDireccion" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDireccionDTO" nillable="true" type="tns:CDireccionDTO" />
  <xs:complexType name="CDistritoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Canton" nillable="true" type="tns:CCantonDTO" />
          <xs:element minOccurs="0" name="CodPostalDistrito" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomDistrito" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDistritoDTO" nillable="true" type="tns:CDistritoDTO" />
  <xs:complexType name="CDireccionGeneralDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="NomDireccion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDireccionGeneralDTO" nillable="true" type="tns:CDireccionGeneralDTO" />
  <xs:complexType name="CDivisionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="NomDivision" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDivisionDTO" nillable="true" type="tns:CDivisionDTO" />
  <xs:complexType name="CEntidadFinancieraDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodEntidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomEntidad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEntidadFinancieraDTO" nillable="true" type="tns:CEntidadFinancieraDTO" />
  <xs:complexType name="CEstadoPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesEstadoPuesto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEstadoPuestoDTO" nillable="true" type="tns:CEstadoPuestoDTO" />
  <xs:complexType name="CHistorialEstadoCivilDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CatEstadoCivil" nillable="true" type="tns:CCatEstadoCivilDTO" />
          <xs:element minOccurs="0" name="FecFin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FecIncio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Funcionario" nillable="true" type="tns:CFuncionarioDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CHistorialEstadoCivilDTO" nillable="true" type="tns:CHistorialEstadoCivilDTO" />
  <xs:complexType name="CIncentivoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DetalleNombramiento" nillable="true" type="tns:CDetalleNombramientoDTO" />
          <xs:element minOccurs="0" name="IndEstIncentivo" type="xs:int" />
          <xs:element minOccurs="0" name="ObsIncentivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoIncentivo" nillable="true" type="tns:CTipoIncentivoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CIncentivoDTO" nillable="true" type="tns:CIncentivoDTO" />
  <xs:complexType name="CDetalleNombramientoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FecCreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ObservacionesTipoJornada" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDetalleNombramientoDTO" nillable="true" type="tns:CDetalleNombramientoDTO" />
  <xs:complexType name="CInformacionContactoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesAdicional" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesContenido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Funcionario" nillable="true" type="tns:CFuncionarioDTO" />
          <xs:element minOccurs="0" name="TipoContacto" nillable="true" type="tns:CTipoContactoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CInformacionContactoDTO" nillable="true" type="tns:CInformacionContactoDTO" />
  <xs:complexType name="CTipoContactoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesTipoContacto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoContactoDTO" nillable="true" type="tns:CTipoContactoDTO" />
  <xs:complexType name="CMotivoMovimientoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesMotivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndEstMotivoMovimiento" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CMotivoMovimientoDTO" nillable="true" type="tns:CMotivoMovimientoDTO" />
  <xs:complexType name="CMovimientoPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodOficio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoMovimientoPuesto" nillable="true" type="tns:CEstadoMovimientoPuestoDTO" />
          <xs:element minOccurs="0" name="FecMovimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MotivoMovimiento" nillable="true" type="tns:CMotivoMovimientoDTO" />
          <xs:element minOccurs="0" name="Puesto" nillable="true" type="tns:CPuestoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CMovimientoPuestoDTO" nillable="true" type="tns:CMovimientoPuestoDTO" />
  <xs:complexType name="CEstadoMovimientoPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="NomDeEstado" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEstadoMovimientoPuestoDTO" nillable="true" type="tns:CEstadoMovimientoPuestoDTO" />
  <xs:complexType name="COcupacionRealDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesOcupacionReal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndEstOcupacion" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="COcupacionRealDTO" nillable="true" type="tns:COcupacionRealDTO" />
  <xs:complexType name="CPerfilDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesPerfil" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndEstPerfil" type="xs:int" />
          <xs:element minOccurs="0" name="NomPerfil" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPerfilDTO" nillable="true" type="tns:CPerfilDTO" />
  <xs:complexType name="CPerfilAccesoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CatPermiso" nillable="true" type="tns:CCatPermisoDTO" />
          <xs:element minOccurs="0" name="DetalleAcceso" nillable="true" type="tns:CDetalleAccesoDTO" />
          <xs:element minOccurs="0" name="FecAsignacion" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPerfilAccesoDTO" nillable="true" type="tns:CPerfilAccesoDTO" />
  <xs:complexType name="CPresupuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Actividad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoPresupuesto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdDireccionPresupuestaria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdUnidadPresupuestaria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Programa" nillable="true" type="tns:CProgramaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPresupuestoDTO" nillable="true" type="tns:CPresupuestoDTO" />
  <xs:complexType name="CProgramaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesPrograma" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndEstPrograma" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CProgramaDTO" nillable="true" type="tns:CProgramaDTO" />
  <xs:complexType name="CPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodPuesto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoPuesto" nillable="true" type="tns:CEstadoPuestoDTO" />
          <xs:element minOccurs="0" name="EstudioPuesto" nillable="true" type="tns:CEstudioPuestoDTO" />
          <xs:element minOccurs="0" name="ObservacionesPuesto" type="xs:boolean" />
          <xs:element minOccurs="0" name="PedimentoPuesto" nillable="true" type="tns:CPedimentoPuestoDTO" />
          <xs:element minOccurs="0" name="PuestoConfianza" type="xs:boolean" />
          <xs:element minOccurs="0" name="UbicacionAdministrativa" nillable="true" type="tns:CUbicacionAdministrativaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPuestoDTO" nillable="true" type="tns:CPuestoDTO" />
  <xs:complexType name="CEstudioPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="EstadoDelPuesto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaResolucion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroOficio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroResolucion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ObsDeEstudioPuesto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Puesto" nillable="true" type="tns:CPuestoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEstudioPuestoDTO" nillable="true" type="tns:CEstudioPuestoDTO" />
  <xs:complexType name="CRelPresupuestoExtraDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Presupuesto" nillable="true" type="tns:CPresupuestoDTO" />
          <xs:element minOccurs="0" name="RegTipExtra" nillable="true" type="tns:CTipoExtraDTO" />
          <xs:element minOccurs="0" name="RegistroTiempoExtra" nillable="true" type="tns:CRegistroTiempoExtraDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRelPresupuestoExtraDTO" nillable="true" type="tns:CRelPresupuestoExtraDTO" />
  <xs:complexType name="CTipoExtraDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesTipExtra" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoExtraDTO" nillable="true" type="tns:CTipoExtraDTO" />
  <xs:complexType name="CRelPuestoUbicacionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FecCreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdPuesto" nillable="true" type="tns:CPuestoDTO" />
          <xs:element minOccurs="0" name="UbicacionPuesto" nillable="true" type="tns:CUbicacionPuestoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRelPuestoUbicacionDTO" nillable="true" type="tns:CRelPuestoUbicacionDTO" />
  <xs:complexType name="CUbicacionPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Distrito" nillable="true" type="tns:CDistritoDTO" />
          <xs:element minOccurs="0" name="EstadoUbicacionPuesto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ObsUbicacionPuesto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoUbicacion" nillable="true" type="tns:CTipoUbicacionDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CUbicacionPuestoDTO" nillable="true" type="tns:CUbicacionPuestoDTO" />
  <xs:complexType name="CTipoUbicacionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesTipoUbicacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoUbicacionDTO" nillable="true" type="tns:CTipoUbicacionDTO" />
  <xs:complexType name="CSeccionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="IndEstSeccion" type="xs:int" />
          <xs:element minOccurs="0" name="NomSeccion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSeccionDTO" nillable="true" type="tns:CSeccionDTO" />
  <xs:complexType name="CSubEspecialidadDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesSubEspecialidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndEstSubEspecialidad" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CSubEspecialidadDTO" nillable="true" type="tns:CSubEspecialidadDTO" />
  <xs:complexType name="CTipoIncentivoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DesIncentivo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoIncentivoDTO" nillable="true" type="tns:CTipoIncentivoDTO" />
  <xs:complexType name="CTipoJornadaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionJornada" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiaLibre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FinJornada" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InicioJornada" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JornadaAcumulativa" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoJornadaDTO" nillable="true" type="tns:CTipoJornadaDTO" />
  <xs:complexType name="CTipoPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionTipoPuesto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoPuestoDTO" nillable="true" type="tns:CTipoPuestoDTO" />
  <xs:complexType name="CUbicacionAdministrativaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Departamento" nillable="true" type="tns:CDepartamentoDTO" />
          <xs:element minOccurs="0" name="DesObservaciones" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DireccionGeneral" nillable="true" type="tns:CDireccionGeneralDTO" />
          <xs:element minOccurs="0" name="Division" nillable="true" type="tns:CDivisionDTO" />
          <xs:element minOccurs="0" name="Presupuesto" nillable="true" type="tns:CPresupuestoDTO" />
          <xs:element minOccurs="0" name="Seccion" nillable="true" type="tns:CSeccionDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CUbicacionAdministrativaDTO" nillable="true" type="tns:CUbicacionAdministrativaDTO" />
  <xs:complexType name="CUbicacionRealDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="NomUbicacionReal" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CUbicacionRealDTO" nillable="true" type="tns:CUbicacionRealDTO" />
  <xs:complexType name="CErrorDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Codigo" type="xs:int" />
          <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CErrorDTO" nillable="true" type="tns:CErrorDTO" />
  <xs:complexType name="CRespuestaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Codigo" type="xs:int" />
          <xs:element minOccurs="0" name="Contenido" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Resumen" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRespuestaDTO" nillable="true" type="tns:CRespuestaDTO" />
  <xs:complexType name="CEntidadSegurosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="NombreEntidad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEntidadSegurosDTO" nillable="true" type="tns:CEntidadSegurosDTO" />
  <xs:complexType name="CCaucionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DetalleEstadoPoliza" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoPoliza" type="xs:int" />
          <xs:element minOccurs="0" name="FechaEmision" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaVence" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroPoliza" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ObservacionesPoliza" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCaucionDTO" nillable="true" type="tns:CCaucionDTO" />
  <xs:complexType name="CMontoCaucionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DetalleEstadoMonto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoMonto" type="xs:int" />
          <xs:element minOccurs="0" name="FechaInactiva" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaRige" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Justificacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JustificacionInactiva" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MontoColones" type="xs:decimal" />
          <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CMontoCaucionDTO" nillable="true" type="tns:CMontoCaucionDTO" />
  <xs:complexType name="CFormacionAcademicaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CFormacionAcademicaDTO" nillable="true" type="tns:CFormacionAcademicaDTO" />
  <xs:complexType name="CCursoCapacitacionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionCapacitacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntidadEducativa" nillable="true" type="tns:CEntidadEducativaDTO" />
          <xs:element minOccurs="0" name="FechaFinal" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FormacionAcademica" nillable="true" type="tns:CFormacionAcademicaDTO" />
          <xs:element minOccurs="0" name="Modalidad" nillable="true" type="tns:CModalidadDTO" />
          <xs:element minOccurs="0" name="Resolucion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalHoras" type="xs:int" />
          <xs:element minOccurs="0" name="TotalPuntos" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCursoCapacitacionDTO" nillable="true" type="tns:CCursoCapacitacionDTO" />
  <xs:complexType name="CEntidadEducativaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionEntidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoEntidad" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEntidadEducativaDTO" nillable="true" type="tns:CEntidadEducativaDTO" />
  <xs:complexType name="CCursoGradoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CursoGrado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntidadEducativa" nillable="true" type="tns:CEntidadEducativaDTO" />
          <xs:element minOccurs="0" name="FechaEmision" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FormacionAcademica" nillable="true" type="tns:CFormacionAcademicaDTO" />
          <xs:element minOccurs="0" name="Incentivo" type="xs:int" />
          <xs:element minOccurs="0" name="Resolucion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoGrado" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCursoGradoDTO" nillable="true" type="tns:CCursoGradoDTO" />
  <xs:complexType name="CModalidadDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopePuntos" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CModalidadDTO" nillable="true" type="tns:CModalidadDTO" />
  <xs:complexType name="CContenidoPresupuestarioDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaPago" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaRige" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroResolucion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CContenidoPresupuestarioDTO" nillable="true" type="tns:CContenidoPresupuestarioDTO" />
  <xs:complexType name="CPedimentoPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="EstadoPedimento" nillable="true" type="tns:CEstadoPedimentoDTO" />
          <xs:element minOccurs="0" name="FechaPedimento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroPedimento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ObservacionesPedimento" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPedimentoPuestoDTO" nillable="true" type="tns:CPedimentoPuestoDTO" />
  <xs:complexType name="CPrestamoPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntidadAdscrita" nillable="true" type="tns:CEntidadAdscritaDTO" />
          <xs:element minOccurs="0" name="EntidadGubernamental" nillable="true" type="tns:CEntidadGubernamentalDTO" />
          <xs:element minOccurs="0" name="FechaDeTraslado" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaFinalConvenio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumDeRescision" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumDeResolucion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumOficioDeRescision" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Puesto" nillable="true" type="tns:CPuestoDTO" />
          <xs:element minOccurs="0" name="UbicacionAdministrativa" nillable="true" type="tns:CUbicacionAdministrativaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPrestamoPuestoDTO" nillable="true" type="tns:CPrestamoPuestoDTO" />
  <xs:complexType name="CEntidadAdscritaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntidadAdscrita" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoEntidad" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEntidadAdscritaDTO" nillable="true" type="tns:CEntidadAdscritaDTO" />
  <xs:complexType name="CEntidadGubernamentalDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntidadGubernamental" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoEntidad" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEntidadGubernamentalDTO" nillable="true" type="tns:CEntidadGubernamentalDTO" />
  <xs:complexType name="CAddendumPrestamoPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaRige" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroAddendum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrestamoPuesto" nillable="true" type="tns:CPrestamoPuestoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CAddendumPrestamoPuestoDTO" nillable="true" type="tns:CAddendumPrestamoPuestoDTO" />
  <xs:complexType name="CCaracteristicasPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Caracteristicas" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Factor" nillable="true" type="tns:CFactorDTO" />
          <xs:element minOccurs="0" name="NumEscala" type="xs:int" />
          <xs:element minOccurs="0" name="Puesto" nillable="true" type="tns:CPuestoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCaracteristicasPuestoDTO" nillable="true" type="tns:CCaracteristicasPuestoDTO" />
  <xs:complexType name="CFactorDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionFactor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TituloFactor" nillable="true" type="tns:CTituloFactorDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CFactorDTO" nillable="true" type="tns:CFactorDTO" />
  <xs:complexType name="CTituloFactorDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionTitulo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTituloFactorDTO" nillable="true" type="tns:CTituloFactorDTO" />
  <xs:complexType name="CTareasPuestoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionComoHace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DescripcionQueHace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumFrecuencia" type="xs:int" />
          <xs:element minOccurs="0" name="Puesto" nillable="true" type="tns:CPuestoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTareasPuestoDTO" nillable="true" type="tns:CTareasPuestoDTO" />
  <xs:complexType name="CRescisionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaDeOficio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaRescision" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroOficio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroRescision" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrestamoPuesto" nillable="true" type="tns:CPrestamoPuestoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRescisionDTO" nillable="true" type="tns:CRescisionDTO" />
  <xs:simpleType name="EEstadoDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Activo" />
      <xs:enumeration value="Inactivo" />
      <xs:enumeration value="Anulado" />
      <xs:enumeration value="EnRevision" />
      <xs:enumeration value="Bloqueado" />
      <xs:enumeration value="Otro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EEstadoDTO" nillable="true" type="tns:EEstadoDTO" />
  <xs:complexType name="CPagoExtraordinarioDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaTramite" type="xs:dateTime" />
          <xs:element minOccurs="0" name="funcionario" nillable="true" type="tns:CFuncionarioDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPagoExtraordinarioDTO" nillable="true" type="tns:CPagoExtraordinarioDTO" />
  <xs:complexType name="CTipoDeduccionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionTipoDeduccion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoDeduccionDTO" nillable="true" type="tns:CTipoDeduccionDTO" />
  <xs:complexType name="CCatalogoDeduccionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoDeduccion" type="xs:int" />
          <xs:element minOccurs="0" name="DescripcionDeduccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PorcentajeDeduccion" type="xs:decimal" />
          <xs:element minOccurs="0" name="TipoDeduccion" nillable="true" type="tns:CTipoDeduccionDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCatalogoDeduccionDTO" nillable="true" type="tns:CCatalogoDeduccionDTO" />
  <xs:complexType name="CTipoDiaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionTipoDia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoDiaDTO" nillable="true" type="tns:CTipoDiaDTO" />
  <xs:complexType name="CCatalogoDiaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionDia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoDia" nillable="true" type="tns:CTipoDiaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCatalogoDiaDTO" nillable="true" type="tns:CCatalogoDiaDTO" />
  <xs:complexType name="CUbicacionAsuetoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Canton" nillable="true" type="tns:CCantonDTO" />
          <xs:element minOccurs="0" name="Dia" nillable="true" type="tns:CCatalogoDiaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CUbicacionAsuetoDTO" nillable="true" type="tns:CUbicacionAsuetoDTO" />
  <xs:complexType name="CPagoFeriadoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DetalleEstado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoTramite" type="xs:int" />
          <xs:element minOccurs="0" name="MontoAguinaldoProporcional" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoDeTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoDeduccionObrero" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoDeduccionPatronal" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoDiferenciaLiquida" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoSalarioEscolar" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoSalaroBruto" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoSubtotalDia" type="xs:decimal" />
          <xs:element minOccurs="0" name="ObsevacionTramite" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PagoExtraordinario" nillable="true" type="tns:CPagoExtraordinarioDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPagoFeriadoDTO" nillable="true" type="tns:CPagoFeriadoDTO" />
  <xs:complexType name="CDeduccionEfectuadaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CatalogoDeduccion" nillable="true" type="tns:CCatalogoDeduccionDTO" />
          <xs:element minOccurs="0" name="MontoDeduccion" type="xs:decimal" />
          <xs:element minOccurs="0" name="PagoFeriado" nillable="true" type="tns:CPagoFeriadoDTO" />
          <xs:element minOccurs="0" name="PorcentajeEfectuado" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDeduccionEfectuadaDTO" nillable="true" type="tns:CDeduccionEfectuadaDTO" />
  <xs:complexType name="CDiaPagadoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CantidadHoras" type="xs:int" />
          <xs:element minOccurs="0" name="CatalogoDia" nillable="true" type="tns:CCatalogoDiaDTO" />
          <xs:element minOccurs="0" name="MontoSalarioHora" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="PagoFeriado" nillable="true" type="tns:CPagoFeriadoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDiaPagadoDTO" nillable="true" type="tns:CDiaPagadoDTO" />
  <xs:complexType name="CEstadoTramiteDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionEstado" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEstadoTramiteDTO" nillable="true" type="tns:CEstadoTramiteDTO" />
  <xs:complexType name="CCatalogoRemuneracionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionRemuneracion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PorcentajeRemuneracion" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCatalogoRemuneracionDTO" nillable="true" type="tns:CCatalogoRemuneracionDTO" />
  <xs:complexType name="CRemuneracionEfectuadaPFDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CatalogoRemuneracion" nillable="true" type="tns:CCatalogoRemuneracionDTO" />
          <xs:element minOccurs="0" name="PagoFeriado" nillable="true" type="tns:CPagoFeriadoDTO" />
          <xs:element minOccurs="0" name="PorcentajeEfectuado" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRemuneracionEfectuadaPFDTO" nillable="true" type="tns:CRemuneracionEfectuadaPFDTO" />
  <xs:complexType name="CDispositivoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDispositivoDTO" nillable="true" type="tns:CDispositivoDTO" />
  <xs:complexType name="CEmpleadoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Digitos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" type="xs:int" />
          <xs:element minOccurs="0" name="FechaBaja" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEmpleadoDTO" nillable="true" type="tns:CEmpleadoDTO" />
  <xs:complexType name="CEmpleadoDispositivoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Digitos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dispositivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Empleado" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEmpleadoDispositivoDTO" nillable="true" type="tns:CEmpleadoDispositivoDTO" />
  <xs:complexType name="CMotivoBajaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CMotivoBajaDTO" nillable="true" type="tns:CMotivoBajaDTO" />
  <xs:complexType name="CContratoArrendamientoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoContratoArrendamiento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Desarraigo" nillable="true" type="tns:CDesarraigoDTO" />
          <xs:element minOccurs="0" name="EmisorContrato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MontoContrato" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CContratoArrendamientoDTO" nillable="true" type="tns:CContratoArrendamientoDTO" />
  <xs:complexType name="CDesarraigoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoDesarraigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoDesarraigo" nillable="true" type="tns:CEstadoDesarraigoDTO" />
          <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MontoDesarraigo" type="xs:decimal" />
          <xs:element minOccurs="0" name="Nombramiento" nillable="true" type="tns:CNombramientoDTO" />
          <xs:element minOccurs="0" name="ObservacionesDesarraigo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDesarraigoDTO" nillable="true" type="tns:CDesarraigoDTO" />
  <xs:complexType name="CEstadoDesarraigoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="NomEstadoDesarraigo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEstadoDesarraigoDTO" nillable="true" type="tns:CEstadoDesarraigoDTO" />
  <xs:complexType name="CFacturaDesarraigoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoFactura" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Desarraigo" nillable="true" type="tns:CDesarraigoDTO" />
          <xs:element minOccurs="0" name="Emisor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaFacturacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MontoFactura" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CFacturaDesarraigoDTO" nillable="true" type="tns:CFacturaDesarraigoDTO" />
  <xs:complexType name="CCartaPresentacionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaCarta" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Nombramiento" nillable="true" type="tns:CNombramientoDTO" />
          <xs:element minOccurs="0" name="NumeroCarta" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CCartaPresentacionDTO" nillable="true" type="tns:CCartaPresentacionDTO" />
  <xs:complexType name="CHorarioRangoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dia" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="JornadaEntradaA" type="xs:dateTime" />
          <xs:element minOccurs="0" name="JornadaEntradaD" type="xs:dateTime" />
          <xs:element minOccurs="0" name="JornadaSalidaA" type="xs:dateTime" />
          <xs:element minOccurs="0" name="JornadaSalidaD" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Rango" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CHorarioRangoDTO" nillable="true" type="tns:CHorarioRangoDTO" />
  <xs:complexType name="CMarcacionesDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DispositivoMarcas" type="xs:short" />
          <xs:element minOccurs="0" name="FechaHoraMarca" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProcesadoMarcas" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CMarcacionesDTO" nillable="true" type="tns:CMarcacionesDTO" />
  <xs:complexType name="CTipoIncapacidadDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionTipoIncapacidad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CTipoIncapacidadDTO" nillable="true" type="tns:CTipoIncapacidadDTO" />
  <xs:complexType name="CEntidadMedicaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescripcionEntidadMedica" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEntidadMedicaDTO" nillable="true" type="tns:CEntidadMedicaDTO" />
  <xs:complexType name="CRegistroIncapacidadDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodIncapacidad" type="xs:int" />
          <xs:element minOccurs="0" name="DetalleEstadoIncapacidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntidadMedica" nillable="true" type="tns:CEntidadMedicaDTO" />
          <xs:element minOccurs="0" name="EstadoIncapacidad" type="xs:int" />
          <xs:element minOccurs="0" name="FecRige" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FecVence" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Nombramiento" nillable="true" type="tns:CNombramientoDTO" />
          <xs:element minOccurs="0" name="ObsIncapacidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PorSubsidio" type="xs:decimal" />
          <xs:element minOccurs="0" name="TipoIncapacidad" nillable="true" type="tns:CTipoIncapacidadDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRegistroIncapacidadDTO" nillable="true" type="tns:CRegistroIncapacidadDTO" />
  <xs:complexType name="CEscalaSalarialDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoriaEscala" type="xs:int" />
          <xs:element minOccurs="0" name="MontoAumentoAnual" type="xs:decimal" />
          <xs:element minOccurs="0" name="Periodo" nillable="true" type="tns:CPeriodoEscalaSalarialDTO" />
          <xs:element minOccurs="0" name="SalarioBase" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEscalaSalarialDTO" nillable="true" type="tns:CEscalaSalarialDTO" />
  <xs:complexType name="CPeriodoEscalaSalarialDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaCierre" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaRige" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumeroResolucion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPeriodoEscalaSalarialDTO" nillable="true" type="tns:CPeriodoEscalaSalarialDTO" />
  <xs:simpleType name="GeneroEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Masculino">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Femenino">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Indefinido">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GeneroEnum" nillable="true" type="tns:GeneroEnum" />
  <xs:complexType name="ArrayOfArrayOfCBaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfCBaseDTO" nillable="true" type="tns:ArrayOfCBaseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfCBaseDTO" nillable="true" type="tns:ArrayOfArrayOfCBaseDTO" />
  <xs:complexType name="ArrayOfCBaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CBaseDTO" nillable="true" type="tns:CBaseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCBaseDTO" nillable="true" type="tns:ArrayOfCBaseDTO" />
</xs:schema>