SIRH.Web/Service References/TipoJornadaLocal/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SIRH.DTO" />
  <xs:element name="RegistrarJornadaFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="funcionario" nillable="true" type="q1:CFuncionarioDTO" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="nombramiento" nillable="true" type="q2:CNombramientoDTO" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="jornada" nillable="true" type="q3:CTipoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarJornadaFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="RegistrarJornadaFuncionarioResult" nillable="true" type="q4:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarJornadaFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="jornada" nillable="true" type="q5:CTipoJornadaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarJornadaFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIRH.DTO" minOccurs="0" name="EditarJornadaFuncionarioResult" nillable="true" type="q6:ArrayOfCBaseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>